.card-swap-container {
  position: absolute;
  top: 50%;
  right:0;
  transform: translateY(-30%) scale(1.1);
  transform-origin: right center;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 1024px) {
  .card-swap-container {
    transform: translateY(-50%) scale(0.75);
    right: 5%;
  }
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: translateY(-20%) scale(0.65);
    right: auto;
    left: 50%;
    transform-origin: center center;
    margin-left: -300px; /* center it */
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: translateY(-20%) scale(0.5);
  }
}
